# Get your tokens from the drchrono.com website under Account->API

SOCIAL_AUTH_CLIENT_ID=1vRlv3LRShKxdGGPqLqbfCLAzHptkp0kKlcQeOzG
SOCIAL_AUTH_SECRET=6gyYK7HIN5ZvNccfe5NMPn5ISmbIk3NRta6FOAOx5Il97OOwJCIeOvfnLcragY0IL7jzlWKXFY2PEkiIOFgWk8xIj2xV3QudvBQWOkrFGKcEaVfzpC3I4cZMc9I6WGs9
